<div class="administrate-page-header">
  <h1 class="administrate-page-header__title">Add FAQ Item — <%= @page.title %></h1>
</div>
<div style="max-width:640px">
  <%= render "form", faq_block: @faq_block %>
</div>
